<h1>New chapter</h1>

<% form_for(@chapter) do |f| %>
  
  <%= render :partial => "form", :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', chapters_path %>